<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Survey</title>
  </head>
  <body>
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-warning">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
